#panel {
  background-color: #5b5b55;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 20%;
}

#pantalla {
  background-color: white;
  width: 100%;
  height: 100;
  display: grid;
  grid-template-columns: auto 30%;
}
#uno {
  background-color: white;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 32px auto;
  position: relative;
}
#dos {
  background-color: #5b5b55;
  height: 100%;
  width: 100%;
  display: grid;
  padding: 30px;
  grid-template-rows: auto 15% auto;

  box-sizing: border-box;
  border-left: solid;
  border-color: #94958f;
  box-sizing: border-box;
  border-width: 1px;
}

#objetos {
  background-color: #272823;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 32px auto;
  position: relative;
  border-top: solid;
  border-color: #94958f;
  box-sizing: border-box;
  border-width: 1px;
}
#play {
  background-color: #5b5b55;
  height: 100%;
  width: 100%;
  border-bottom: solid;
  border-bottom-color: #94958f;
  box-sizing: border-box;
  border-width: 1px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}
#room {
  background-color: white;
  height: 100%;
  width: 100%;
  position: relative;
}
#caja1 {
  background-color: #272823;
  height: 100%;
  width: 100%;
}
#caja2 {
  background-color: #272823;
  height: 100%;
  width: 100%;
}

#texto1 {
  background-color: #5b5b55;
  height: 100%;
  width: 100%;
}
h1 {
  text-align: left;
  color: #dbdbcd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}
#semi {
  position: relative;
  background-color: #272823;
  height: 32px;
  width: 100%;
  display: grid;
  grid-template-columns: 96px 96px 96px auto;
  border-bottom: solid;
  border-color: #94958f;
  box-sizing: border-box;
  border-width: 1px;
}

#semi div {
  line-height: 32px;
}
#grande {
  background-color: #5b5b55;
  height: 100%;
  width: 100%;
}

#container {
  position: relative;
  height: 100%;
  width: 100%;
}
#obj {
  background-color: #000000;
  height: 100%;
  width: 100%;
}
#room2 {
  background-color: #000000;
  height: 100%;
}
#recursos {
  background-color: #000000;
  height: 100%;
  width: 100%;
}
#espacio {
  background-color: #000000;
  height: 100%;
  width: 100%;
}

.top_boton {
  position: relative;
  text-align: left;
}

.top_boton img {
  height: 16px;
  width: auto;
  position: absolute;
  transform: translate(8px, -50%);
  top: 50%;
  left: 0%;
}
